.slider {
  overflow: hidden;
  width: 100%;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.card {
  min-width: 250px;
  margin: 0 10px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 12px;
  text-align: center;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.slide-track:hover {
  animation-play-state: paused;
}


